<?xml version="1.0"?>
<model>
  <name>Manipulador</name>
  <version>1.1</version>
  <sdf version='1.6'>model.sdf</sdf>

  <author>
   <name>Guilherme Nishi Kanashiro </name>
   <email>kanashiro.nishi@gmail.com</email>
  </author>

  <description>
    Robô manipulador Zortrax - Trabalho de graduação
    UFSCar - Departamento de Computação
    Orientadora: Prof. Dra. Kellen C. Teixeira 

      * Version: 
        - 1.1: Manipulador links completo - parte visual
        - 1.2: Definição das joints
  </description>
</model>
