<launch>

  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find manipulador_control)/config/joints.yaml" command="load"/>

  <!-- load the controllers -->
  <node name="controller_spawner"
    pkg="controller_manager"
    type="spawner" respawn="false"
    output="screen" ns="/manipulador"
    args="joint_state_controller
      first_controller
      second_controller
      third_controller
      fourth_controller
      fifth_controller"/>

  <!-- convert joint states to TF transforms for rviz, etc -->
  <node name="robot_state_rviz" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen">
    <param name="robot_description" command="$(find xacro)/xacro.py '$(find manipulador_description)/urdf/manipulador.xacro'" />
    <remap from="/joint_states" to="/manipulador/joint_states" />
  </node>
</launch>

